.gpt3__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(90deg, rgba(16, 0, 133, 1) 0%, rgba(1, 13, 143, 1) 50%, rgba(106, 14, 106, 1) 100%);
}

.gpt3__footer-links_div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    cursor: pointer;
}


.gpt3__footer-copyright {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.gpt3__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 850px) {
    .gpt3__footer-heading h2 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__footer-heading h2 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .gpt3__footer-heading h2 {
        font-size: 27px;
        line-height: 38px;
    }
}
